@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header__imagen{

    display: flex;
    padding-left: 40px;
    padding-top: 40px;
}

body{
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.challenge{
    
    display: flex;
    align-items:center;
 
    
}

.campo__funcional{

    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.contenedor__texto__a__encriptar{

    display: flex;
    padding-left:240px;
           
    
}

.textarea__contenedor__texto__a__encriptar{

    height: 550px;
    width: 700px;
    font-weight: 400;
    font-size: 32px;
    font-family:  "Inter", sans-serif;
    border: none;
    background-color: #E5E5E5;
    color: #0A3871;
       

} 

.contenedor__texto__advertencia{

    padding-left: 240px;
    display: flex;
    align-items: center;
    gap: 2px;

}

.texto__advertencia{

    font-weight: 400;
    font-size: 12px;
    font-family:  "Inter", sans-serif;
    background-color: #E5E5E5;
    color: #495057;

}

.contenedor__botones{
    display: flex;
    padding-left: 240px;
    padding-bottom: 72px;
    justify-content:left;
    gap: 24px;
}

.boton__encriptar {
    
    height: 67px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    border-radius:30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;    
    color: #D8DFE8;
    font-family: "Inter", sans-serif;
    background-color: #0A3871;

}



.boton__desencriptar {
    height: 67px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    border-radius:30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    background-color: #D8DFE8;

}

.campo__desencriptar{

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.textarea__contenedor__texto__encriptado{
    
    background-image: url("/Challenge_Encriptador/assets/Imagen_inicial.png"); 
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 744px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    
   
}

.boton__copiar{

    height: 67px;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    border-radius:30px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    background-color: #D8DFE8;
    position: relative;
    top: -150px;
    display:none;
    

}


